.social-card {
  background: url(/images/bg-soc-btn.png) center center no-repeat;
  background-size: cover;
  cursor: pointer;
  &.card-discord,
  &.card-kick,
  &.card-twitter {
    border-width: 0.5px;
    border-style: solid;
    .details {
      flex: 1;
      .title {
        display: flex;
        align-items: center;
        min-height: 60px;
      }
    }
  }

  &.card-kick {
    border-color: #3fce3c;
    .details {
      .title {
        background: url(/images/bg-kick.png) left bottom no-repeat;
        background-size: 240px;
      }
    }
  }

  &.card-twitter {
    border-color: #3fbfff;
    .details {
      .title {
        background: url(/images/bg-tw.png) left bottom no-repeat;
        background-size: 240px;
      }
    }
  }

  &.card-discord {
    border-color: #9c3fff;
    .details {
      .title {
        background: url(/images/bg-dc.png) left bottom no-repeat;
        background-size: 240px;
      }
    }
  }
}

.milestone-card {
  background: url(/images/bg-milestone.png) center center no-repeat;
  background-size: cover;
  border-width: 0.5px;
  border-style: solid;
  border-color: var(--color-c-lightgreen);
  color: #fff;
  .title {
    background: url(/images/bg-kick.png) center bottom no-repeat;
    background-size: 240px;
    height: 80px;
  }
  &.vip-card {
    background: url(/images/bg-vip.png) center center no-repeat;
    background-size: cover;
    border-color: var(--color-c-gold);
    .title {
      background: url(/images/decorator-vip.png) center bottom no-repeat;
      background-size: 240px;
      height: 80px;
    }
  }
  &.legend-card {
    background: url(/images/bg-legend.png) center center no-repeat;
    background-size: cover;
    border-color: var(--color-c-gold);
    .title {
      background: url(/images/decorator-vip.png) center bottom no-repeat;
      background-size: 240px;
      height: 80px;
    }
  }
}
