:root {
  --color-c-red: #631216;
  --color-c-red-light: #f0131d;
  --color-c-gray: #151515;
}

body {
  font-family: var(--font-onest);
  font-size: 16px;
}

.polygon-border {
  background: url("/images/polygon.svg") center center no-repeat;
  background-size: contain;
}

.bg-c-red {
  background-color: var(--color-c-red);
}

.bg-c-red-light {
  background-color: var(--color-c-red-light);
}

.bg-c-gray {
  background-color: var(--color-c-gray);
}

.text-c-red {
  color: var(--color-c-red);
}

.text-c-red-light {
  color: var(--color-c-red-light);
}

.font-onest {
  font-family: var(--font-onest);
}
