header {
  background: #41d63f;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  background: -webkit-linear-gradient(
    180deg,
    rgba(65, 214, 63, 0.05) 0%,
    rgba(65, 214, 63, 0.02) 100%
  );
  background: -moz-linear-gradient(
    180deg,
    rgba(65, 214, 63, 0.05) 0%,
    rgba(65, 214, 63, 0.02) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(65, 214, 63, 0.05) 0%,
    rgba(65, 214, 63, 0.02) 100%
  );
}

header.header-purple {
  background: #8570f6;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  background: -webkit-linear-gradient(
    180deg,
    rgba(133, 112, 246, 0.05) 0%,
    rgba(133, 112, 246, 0.02) 100%
  );
  background: -moz-linear-gradient(
    180deg,
    rgba(133, 112, 246, 0.05) 0%,
    rgba(133, 112, 246, 0.02) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(133, 112, 246, 0.05) 0%,
    rgba(133, 112, 246, 0.02) 100%
  );
}

header.header-blue {
  background: #3fbfff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  background: -webkit-linear-gradient(
    180deg,
    rgba(63, 191, 255, 0.05) 0%,
    rgba(63, 191, 255, 0.02) 100%
  );
  background: -moz-linear-gradient(
    180deg,
    rgba(63, 191, 255, 0.05) 0%,
    rgba(63, 191, 255, 0.02) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(63, 191, 255, 0.05) 0%,
    rgba(63, 191, 255, 0.02) 100%
  );
}

footer {
  background: url(/images/footer-bg.png) center bottom no-repeat;
  background-size: cover;
}

#home-main {
  background: url(/images/home-landing.png) center -27% no-repeat;
  background-size: cover;
  min-height: 800px;
  padding-top: 5rem;
  h1 {
    margin-bottom: 2rem;
    span {
      line-height: 1;
    }
  }
  @media (max-width: 767px) {
    min-height: 500px;
  }
}

#shuffle-main {
  background: url(/images/lb-shuffle-bg.png) center -60px no-repeat;
  background-size: cover;
  min-height: 800px;
  padding-top: 5rem;
  h1 {
    margin-bottom: 2rem;
    span {
      line-height: 1;
    }
  }
}

#csgo-main {
  background: url(/images/lb-csgo-bg.png) center top no-repeat;
  background-size: cover;
  min-height: 800px;
  padding-top: 5rem;
  h1 {
    margin-bottom: 2rem;
    span {
      line-height: 1;
    }
  }
}

#rust-main {
  background: url(/images/lb-rust-bg.png) center top no-repeat;
  background-size: cover;
  min-height: 800px;
  padding-top: 5rem;
  h1 {
    margin-bottom: 2rem;
    span {
      line-height: 1;
    }
  }
}

#milestones-main {
  background: url(/images/milestones-bg.png) center top no-repeat;
  background-size: cover;
  min-height: 800px;
  padding-top: 5rem;
  h1 {
    margin-bottom: 2rem;
    span {
      line-height: 1;
    }
  }
}

.leaderboard-nav {
  .col {
    &.active {
      background: url(/images/active-bg.png) center center no-repeat;
      background-size: contain;
    }
  }
}

#social-buttons,
.star-bg {
  background: url(/images/socialbg.png) center top no-repeat;
  background-size: cover;
  padding-bottom: 4rem;
}

.custom-table-row {
  border-radius: 8px;
  border: 0.5px solid #333;
}

.custom-table-row:nth-child(odd) {
  background-color: #0e0e0e;
}

.custom-table-row:nth-child(even) {
  background-color: #121212;
}
