header {
  background: #41d63f;
  background: -webkit-linear-gradient(
    180deg,
    rgba(65, 214, 63, 0.11) 0%,
    rgba(33, 4, 4, 0.43) 100%
  );
  background: -moz-linear-gradient(
    180deg,
    rgba(65, 214, 63, 0.11) 0%,
    rgba(33, 4, 4, 0.43) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(65, 214, 63, 0.11) 0%,
    rgba(33, 4, 4, 0.43) 100%
  );
}

footer {
  background: url(/images/footer-bg.png) center bottom no-repeat;
  background-size: cover;
}

#home-main {
  background: url(/images/home-landing.png) center -30% no-repeat;
  background-size: cover;
  min-height: 800px;
  padding-top: 5rem;
  h1 {
    margin-bottom: 2rem;
    span {
      line-height: 1;
    }
  }
}

.leaderboard-nav {
  .col {
    &.active {
      background: url(/images/active-bg.png) center center no-repeat;
      background-size: contain;
    }
  }
}

#leader-boards-container {
  background: url(/images/leader-bg.png) center center no-repeat;
  background-size: cover;
  .leader-boards-card {
    .bg-card {
      padding: 3rem 1rem 0.5rem;
    }
    .card-1,
    .card-2,
    .card-3 {
      .avatar {
        img {
          border-width: 2px;
        }
        .position {
          position: absolute;
          left: 38%;
          bottom: -10px;
          padding: 5px;
          color: #fff;
          width: 60px;
          text-align: center;
        }
      }
    }
    .card-1 {
      background: url(/images/bg-card-1.png) center center no-repeat;
      background-size: cover;
      border-color: var(--color-c-gold);
      .avatar {
        img {
          border-color: var(--color-c-gold);
        }
        .position {
          background: #d6ce3f;
          background: -webkit-linear-gradient(
            124deg,
            rgba(214, 206, 63, 1) 0%,
            rgba(112, 97, 33, 1) 100%
          );
          background: -moz-linear-gradient(
            124deg,
            rgba(214, 206, 63, 1) 0%,
            rgba(112, 97, 33, 1) 100%
          );
          background: linear-gradient(
            124deg,
            rgba(214, 206, 63, 1) 0%,
            rgba(112, 97, 33, 1) 100%
          );
        }
      }
      .prize {
        color: var(--color-c-gold);
      }
    }
    .card-2 {
      background: url(/images/bg-card-2.png) center center no-repeat;
      background-size: cover;
      border-color: #fff;
      .prize {
        color: #fff;
      }
      .avatar {
        img {
          border-color: #fff;
        }
        .position {
          background: #fff;
          background: -webkit-linear-gradient(
            124deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(90, 90, 90, 1) 100%
          );
          background: -moz-linear-gradient(
            124deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(90, 90, 90, 1) 100%
          );
          background: linear-gradient(
            124deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(90, 90, 90, 1) 100%
          );
        }
      }
    }
    .card-3 {
      background: url(/images/bg-card-3.png) center center no-repeat;
      background-size: cover;
      border-color: #856022;
      .prize {
        color: #856022;
      }
      .avatar {
        img {
          border-color: #856022;
        }
        .position {
          background: #908b20;
          background: -webkit-linear-gradient(
            124deg,
            rgba(144, 139, 32, 1) 0%,
            rgba(70, 59, 13, 1) 100%
          );
          background: -moz-linear-gradient(
            124deg,
            rgba(144, 139, 32, 1) 0%,
            rgba(70, 59, 13, 1) 100%
          );
          background: linear-gradient(
            124deg,
            rgba(144, 139, 32, 1) 0%,
            rgba(70, 59, 13, 1) 100%
          );
        }
      }
    }
  }
}

#social-buttons {
  background: url(/images/socialbg.png) center top no-repeat;
  background-size: cover;
  padding-bottom: 4rem;
}
