.title-section {
    position: relative;
    background-image:
        radial-gradient(
            ellipse 30% 70% at center,
            transparent 0%,
            transparent 40%,
            rgba(0, 0, 0, 0.85) 100%
        ),
        linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 0%,
            transparent 30%,
            transparent 70%,
            rgba(0, 0, 0, 1) 100%
        ),
        url("/images/wall.png");
    background-size: cover;
    background-position: center;
}
