@font-face {
  font-family: "Nordic Thunder";
  src: url("Nordic_Thunder.woff") format("woff2"),
       url("Nordic_Thunder.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}